<div class='container home'>
  <div [hidden]='isFormOpen'>
    <div class='row'>
      <div class='col-12 text-center'>
        <button class='btn btn-success' (click)='openForm()'>Add contact</button>
      </div>
    </div>
    <div class='row'>
      <div class='col-12 col-md-6 col-lg-4 text-center'>
        <contacts-list [contacts]='getContacts()' [activeIndex]='activeContactId' (setActiveContact)='setActive($event)'></contacts-list>
      </div>
      <div class='hidden-sm-down col' *ngIf='(!!activeContact)'>
        <div class='card'>
          <div class='card-block'>
            <h2 class='card-title'>{{  buildName(activeContact) }}</h2>
          </div>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item'>
              <span class='fa fa-phone text-muted c-info mr-1' data-toggle='tooltip' [attr.title]='activeContact.phone'></span>
              <span class='visible-xs'> <span class='text-muted phone'>{{ activeContact.phone }}</span></span>
            </li>
            <li class='list-group-item'>
              <span class='fa fa-comments text-muted c-info mr-1' data-toggle='tooltip' [attr.title]='activeContact.email'></span>
              <span class='visible-xs'> <span class='text-muted email'>{{ activeContact.email }}</span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div [hidden]='!isFormOpen'>
    <contacts-list-form
        (onCancel)='cancelNewContact($event)'
        (onAddNewContact)='addNewContact($event)'
    ></contacts-list-form>
  </div>
</div>